{
        "log": {
                {%if hconfigs['log_level']=="CRITICAL" and not hconfigs.get('user_limit_enable', False)%}
                "disabled": true,
                {%endif%}
                "level": "{% if hconfigs.get('user_limit_enable', False) and hconfigs['log_level'].lower() == 'warning' %}info{% elif hconfigs['log_level'].lower() == 'critical' %}fatal{% else %}{{hconfigs['log_level'].lower()}}{% endif %}",
                {%if hconfigs.get('access_log_enable', False) or hconfigs.get('user_limit_enable', False)%}
                "output": "/opt/hiddify-manager/log/singbox.log",
                {%endif%}
                "timestamp": true
        }
}