{
	{% if hconfigs['amnezia_enable'] %}
		"endpoints": [
			{% for d in domains if d['internal_port_amnezia']  %}
			{%set domain=d['domain']%}
			{%set port=d['internal_port_amnezia']%}

			{
				"type": "awg",
				"tag": "amnezia_in_{{port}}",
				"private_key": "{{ hconfigs['wg_private_key'] }}",
				"address": ["10.111.0.1/24", "fc00::1/64"],
				"listen_port": {{ port }},
				"mtu": 1380,
				"s1": {{ hconfigs['amnezia_s1'] }},
				"s2": {{ hconfigs['amnezia_s2'] }},
				"h1": "{{ hconfigs['amnezia_h1'] }}",
				"h2": "{{ hconfigs['amnezia_h2'] }}",
				"h3": "{{ hconfigs['amnezia_h3'] }}",
				"h4": "{{ hconfigs['amnezia_h4'] }}",
				"jc": {{ hconfigs['amnezia_jc'] }},
				"jmin": {{ hconfigs['amnezia_jmin'] }},
				"jmax": {{ hconfigs['amnezia_jmax'] }},
				"peers": [
					{% for u in users %}
						{
							"public_key": "{{ u['wg_pub'] }}",
							"preshared_key": "{{ u['wg_psk'] }}",
							"allowed_ips": ["{{ u['wg_ipv4'] }}/32", "{{ u['wg_ipv6'] }}/128"]
						},
					{% endfor%}
				]
			},
			{%endfor%}
		]
	{% endif %}
}
