{
  "outbounds": [
    {
      "tag": "freedom",
      "type": "direct"
    },
    {
      "tag": "direct",
      "type": "direct"
    },
    {
      "tag": "WARP",
      "type": "socks",
      "version": "5",
      "server": "127.0.0.1",
      "server_port": 3000
    },
    // Old WireGuard interface mode (requires wg-quick@warp):
    // {
    //   "tag": "WARP",
    //   "type": "direct",
    //   "bind_interface": "warp"
    // },
    //hiddify!!!!_warp
    {
      "type": "block",
      "tag": "blackhole"
    },
    { //do not change the following line since it will be replaced.
      "tag": "forbidden_sites",
      "type": "{% if hconfigs['block_iran_sites'] %}block{% else %}direct{%endif%}"
    }
    // watashi v12.2.99: the dns outbound type was deprecated in sing-box
    // 1.11.0 and removed in 1.13.0. no rule ever pointed at DNS-Internal,
    // so it is simply gone; dns hijacking is a rule action if we ever want
    // it (see the note in 03_routing.json.j2).
  ]
}