{
	"policy": {
		"levels": {
		  "0": {
			"handshake": 8,
			"connIdle": 600,
			"uplinkOnly": 4,
			"downlinkOnly": 8,
			"statsUserUplink": true,
			"statsUserDownlink": true,
	        "statsUserOnline": true,
			"bufferSize": 64
		  }
		},
		"system": {
		  "statsInboundUplink": true,
		  "statsInboundDownlink": true,
		  "statsOutboundUplink": true,
		  "statsOutboundDownlink": true
		}
	  }
}
